*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --border-template: 2px solid red;
}

#header-wrapper{
    background-color: #65AFF3;
    border: var(--border-template);
    min-height: 400px; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

img{
    width: 650px;
    height: 500px;
}


#text-wrapper{
    text-align: center;
    border: var(--border-template);
    max-width: fit-content;
    font-family:'Oswald', sans-serif;
    color: white;
}

#text-wrapper h1{
    font-size: 155px;
    margin-bottom: -18px;
}

#text-wrapper h3{
    font-size: 28px;
}
