*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --border-template: none;
}

#header-wrapper{
    background-color: #65AFF3;
    border: var(--border-template);
    min-height: 30rem; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

img{
    width: 25rem;
    height: 22rem;
    border: var(--border-template);
}


#text-wrapper{
    text-align: center;
    border: var(--border-template);
    max-width: fit-content;
    font-family:'Oswald', sans-serif;
    color: white;
}

#text-wrapper h1{
    font-size: 8.2rem;
}


/*BIO*/

.bio-wrapper{
    min-height: 25rem; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.bio-title{
    margin-bottom: 2rem;
    font-size: 46px;
    color: #65AFF3;
}

.bio-block{
    width: 40rem;
    text-align: center;
}